server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
        filters:
          - name: label
            values: ["com.docker.compose.project=server-springboot-fitify"]
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: 'container'
      - source_labels: ['__meta_docker_container_label_com_docker_compose_service']
        target_label: 'service'
    pipeline_stages:
      - json:
          expressions:
            level: level
            logger: logger_name
            correlationId: correlationId
            userId: userId
            module: module
            message: message
            timestamp: "@timestamp"
      - labels:
          level:
          logger:
          correlationId:
          userId:
          module:
      - timestamp:
          source: timestamp
          format: "2006-01-02T15:04:05.000Z07:00"
          fallback_formats:
            - "2006-01-02T15:04:05.000Z"
