spring:
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

fitify:
  cors:
    allowed-origins: ${FITIFY_CORS_ALLOWED_ORIGINS}

management:
  endpoint:
    health:
      show-details: never

logging:
  level:
    com.nickdferrara.fitify: WARN
    org.springframework.modulith: WARN
