spring:
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

management:
  endpoint:
    health:
      show-details: never

logging:
  level:
    com.nickdferrara.fitify: WARN
    org.springframework.modulith: WARN
